@{
    ViewData["Title"] = "Home Page";
}

<div class="img-fluid main-bg"></div>
<div class="container mt-5 mb-5">
    <div class="text-center">
        <h1 class="display-3 fw-bold text-color-2">Waifu & Husbandu</h1>
        <h5 class="text-color-1">Знайди свою Вайфу або Хазбенду</h5>
        <h6 class="text-color-1">👌(≖‿‿≖👍) Онлайн пошук своєї Вайфу або свого Хазбенду, чи всеж таки обох (✌≖‿‿≖)👍</h6>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
