html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/************* Main Page *************/

.main-bg {
    /* The image used */
    background-image: url("../images/bgs/bg.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-color-1 {
    color: #313f3f;
}
.text-color-2 {
    color: #ae8b61;
}
